<!-- <div mat-dialog-title class="d-flex align-items-center justify-content-center" *ngIf="data?.title">
    <h1 class="text-center ml-auto mr-auto">{{ data.title }}</h1>
    <button  mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <mat-dialog-content class="mb-4">
    <p *ngIf="data?.message">{{ data.message }}</p>
  
    <ng-container *ngIf="data?.info">
      <ul *ngFor="let item of data.info">
        <li class="fsz-1">{{item}}</li>
      </ul>
    </ng-container>
  
  </mat-dialog-content>
  
   -->