<div
  class="d-flex vh-100 justify-content-center align-items-center flex-column"
>
  <form class="example-form">
    <mat-card class="example-card">
      <mat-form-field class="d-flex" appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput value="enter login" />
      </mat-form-field>

      <mat-form-field class="d-flex mt-4" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput value="enter password" />
      </mat-form-field>
    </mat-card>
  </form>
</div>
